html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}
.about, .projects, .contact {
    margin-bottom: 20px;
}
/*HEADER GENERAL*/
#header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
#headerInfo {
    display: block; 
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; 
}
.logo.site-title {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.site-title a {
    text-decoration: none;
    color: #000;
}
.site-tagline {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
    letter-spacing: 0.15em;
}
.main-nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0 auto; 
    display: inline-block;
    text-align: center; 
}
.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul li a {
    text-decoration: none; 
    color: #333; 
    font-weight: 300; 
    text-transform: uppercase; 
}
.main-nav ul li {
    display: inline-block; 
    margin: 0 15px; 
}
/*CONTACTO*/
.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}
.contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}
.contact p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.contact textarea {
    height: 100px;
    resize: vertical;
}
.contact button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact button:hover {
    background-color: #555;
}
/**SECCIÓN PROYECTOS*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.projects {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
}
.project-item:last-child {
    grid-column: span 2; 
    justify-self: center; 
}
.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex; 
    width: 200px;
    height: 200px;
    flex-direction: column;
}
.project-section {
    position: relative;
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.3s ease-in-out;
}
.scroll-indicator {
    position: fixed;
    top: 50%;
    right: 200px; 
    transform: translateY(-50%);
    z-index: 100; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scroll-indicator .dot {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.scroll-indicator .dot.active {
    background-color: #333; 
}
.scroll-indicator .dot:hover {
    background-color: #555;
}
.project-content.bookshelf{
    background-image: url('../imgs/Bookshelf-background.jpg');
}
.project-content.memory-game {
    background-image: url('../imgs/Memory-background.webp');
}
.project-content.weather-watch {
    background-image: url('../imgs/Weather-background.jpg');
}
.project-content.snake-game {
    background-image: url('../imgs/Snake-background.jpg');
}
.project-content.quiz {
    background-image: url('../imgs/Quiz-background.jpg');
}
.project-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
}
.project-content h1 {
    margin-bottom: 20px; 
    font-size: 2rem;    
}
.square-container {
    width: 300px; 
    height: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; 
}
.square-container p {
    max-width: 85%; 
    margin: 0; 
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify; 
}
.project-link:hover,
.project-link:focus {
    background-color: #4a0072;
    transform: scale(1.05);
}
.project-item:hover {
    transform: translateY(-10px);
}
.project-item img {
    width: 100%;
    display: block;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.project-overlay a {
    color: #fff; 
    text-decoration: none; 
    font-weight: 600; 
}
.project-overlay a:hover {
    text-decoration: underline; 
}
.project-item:hover .project-overlay {
    opacity: 1;
}
.projects-section {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
}
.project-detail {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-content {
    display: flex;
    align-items: center;
    align-items: top;
}
.project-image {
    width: 150px;
    height: auto; 
    margin-right: 100px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.project-text {
    max-width: 500px;
}
.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.project-view{
    display: flex;
    flex-direction: column; /* esto apila los elementos verticalmente */
    gap: 10px; /* espacio entre los enlaces, opcional */
    align-items: flex-start; /* alinea a la izquierda */
}
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 14px;
}
/*SECCIÓN ABOUTE*/
.profile-section {
    display: flex;
    align-items: center;
    padding: 20px;
}
.profile-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}
.profile-image {
    flex: 1;
    margin-right: 20px; 
}
.profile-image img {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
}
.profile-text {
    flex: 2;
    margin-left: 50px;
    margin-right: 50px;
}
.profile-text h1 {
    font-size: 2rem; 
    margin-bottom: 10px;
    color: #333; 
}
.profile-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666; 
    text-align: justify; 
}
/*DARK MODE*/
#toggle-dark-mode {
    position: absolute; 
    top: 10px; 
    left: 20px; 
    color: black; 
    border: none; 
    background-color: white;
    border-width: 1px;
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
}
.switch-container {
    position: absolute;
    top: 10px;
    left: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; 
}
.slider.round {
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #333;
}
input:checked + .slider:before {
    transform: translateX(16px);
}
body.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
}
footer.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
}
.project-content.dark-mode {
    background-color: rgba(255, 255, 255, 0.1); 
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode a {
    color: #ffffff; 
}
body.dark-mode .main-nav ul li a {
    color: #ffffff; 
}
/*ICONOS*/
.languages {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    width: 200px; 
    margin: 10px auto; 
}
.icono-lenguaje {
    width: 40px; 
    height: 40px; 
    margin: 0 10px; 
    object-fit: contain; 
    margin-top: 10px;
    margin-bottom: 10px;
}